.todo-item {
 display: flex;
 justify-content: space-between;
 margin-bottom: 8px;
}

h1
{
display: flex;
margin-left: 50;
margin-right: 50;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}
.todo-list {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  background: #f3f3f3;
}
input[type="text"] {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 6px 12px;
  margin-left: 120px;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.todo-item p.completed {
  text-decoration: line-through;
  color: green;
}
.todo-item p {
 color: red ;
}